*{

margin:0;

padding:0;

box-sizing:border-box;

font-family:Poppins,sans-serif;

}

body{

display:flex;

justify-content:center;

align-items:center;

height:100vh;

background:#f3f5fb;

}

.auth-card{

background:white;

padding:40px;

width:400px;

border-radius:15px;

box-shadow:0 10px 30px rgba(0,0,0,.08);

text-align:center;

}

.auth-card h1{

margin-bottom:10px;

}

.auth-card h2{

margin-bottom:25px;

}

.auth-card input{

width:100%;

padding:14px;

margin-bottom:18px;

border:1px solid #ddd;

border-radius:10px;

}

.auth-card button{

width:100%;

padding:14px;

background:#2563eb;

color:white;

border:none;

border-radius:10px;

cursor:pointer;

font-size:16px;

}

.auth-card button:hover{

background:#1d4ed8;

}

.auth-card p{

margin-top:20px;

}

.auth-card a{

text-decoration:none;

color:#2563eb;

}

/*=========================================
PASSWORD BOX
=========================================*/

.password-box{

position:relative;

margin-bottom:18px;

}

.password-box input{

width:100%;

padding-right:45px;

margin-bottom:0;

}

.password-box i{

position:absolute;

right:15px;

top:50%;

transform:translateY(-50%);

cursor:pointer;

color:#666;

}

/*=========================================
PASSWORD STRENGTH
=========================================*/

.strength-bar{

height:8px;

background:#ddd;

border-radius:5px;

margin-bottom:8px;

overflow:hidden;

}

#strength-fill{

height:100%;

width:0;

background:red;

transition:.3s;

}

#strength-text{

font-size:14px;

margin-bottom:18px;

color:#555;

}

label{

display:flex;

align-items:center;

gap:8px;

margin-bottom:18px;

font-size:14px;

}